
<div class="search-div">
    <mat-form-field class="search-form-field">
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyUp)="applyFilter()">
        <button mat-icon-button matSuffix mat-button aria-label="Clear" *ngIf="searchKey" (click)="clearSearch()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>

<section class="appliancesCSSClass" fxLayout fxLayoutAlign="center center" fxLayoutGap="10px">    

        <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8" matSort>

            <ng-container matColumnDef="serialNo">
                <mat-header-cell *matHeaderCellDef mat-sort-header>SerialNo</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.serialNo}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="brand">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Brand</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.brand}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="model">
                <mat-header-cell *matHeaderCellDef mat-sort-header>ModelNo</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.model}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="dateOfPurchase">
                <mat-header-cell *matHeaderCellDef>DateOfPurchase</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.dateBought}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="state">
                <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
               <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
            
            </ng-container>
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                <mat-cell *matCellDef="let element" class="action-link"> 
                    <!--button mat-raised-button color="basic" [disabled]=false>Add Appliance</button> -->
                    <button mat-icon-button  (click)="onEdit()"><mat-icon>launch</mat-icon></button>
                    <button mat-icon-button color=warn ><mat-icon>delete_outline</mat-icon></button>
                </mat-cell>
            
            </ng-container>
           

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </table>  
</section>
<section fxLayout fxLayoutAlign="right right">
    <button mat-button  mat-raised-button (click)="addAppliance()" color="primary">+ Add Appliance</button>
    <button mat-button  mat-raised-button (click)="callGetAppliances()" color="primary">Refresh</button>
    
</section>
