@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; 
You can add global styles to this file, and also import other style files 

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/

html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;

}

body {

    margin: 0;
    
}



snack-bar-container.success{
  background-color: rgb(99, 111, 216);
  color: cyan;

}

snack-bar-container.notification.simple-snack-bar{
   font-size: 18px !important;
  font-weight: bold;

}

snack-bar-container.errNotification.simple-snack-bar{
  font-size: 18px !important;
 font-weight: bold;

}

snack-bar-container.failure{
  background-color: red;
  color: cyan;

}